<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%load static%}
    <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}">
    <title>Login Page</title>
</head>
<body>
    <div class="register_box">
        <h1>Registration</h1>
        <h4>(First time here? Fill out this form to register!)</h4>
        {%if messages%}
        <u class="messages">
            {%for message in messages%}
                <li {%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
            {%endfor%}
        </ul>
        {%endif%}
        <form action="/register/" method="post">
            {% csrf_token %}
            <p>First Name:</p>
            <input type="text" name="first_name"/>
            <p>Last Name:</p>
            <input type="text" name="last_name"/>
            <p>Email:</p>
            <input type="text" name="email"/>
            <p>Birthdate:</p>
            <input type="date" name="birthdate" value = "2000-01-01">
            <p>Password:</p>
            <input type="password" name="password"/>
            <p>Confrim Password:</p>
            <input type="password" name="confirm_pw"/>
            <br>
            <input type="submit" value="Register" class="buttons"/>
        </form>
    </div>
    <div class="login_box">
        <h1>Log In</h1>
        <h4>(Already a member? Log in here!)</h4>
        <form action="/login/" method="post">
            {% csrf_token %}
            <p>Email:</p>
            <input type="text" name="email"/>
            <p>Password:</p>
            <input type="password" name="password"/>
            <br>
            <input type="submit" value="Log In" class="buttons"/>
        </form>
    </div>
</body>
</html>